
<!-- 
{% block content %}

  {% for book in books %} -->
  <!-- <img src="{{ book.book_image.url }}" alt="kitabın şəkli" style="width: 200px;"> -->
  <!-- <p>{{ book.id }}</p> -->
    <!-- <p>{{ book.categories }}</p> -->
    <!-- <p>{{ book.title }}</p> -->
    <!-- <p>{{ book.author }}</p> -->
    <!-- <p>{{ book.price }}</p>
    <p>{{ book.offer_price }}</p> -->
    <!-- <p>{{ book.offer_dedline }}</p> -->
    <!-- <p>{{ book.number }}</p>
    <p>{{ book.book_isbn }}</p>
    <p>{{ book.description }}</p>
    <p>-----------------------------------</p>
    {% endfor %}

{% endblock %} -->
